.icon-brand {
	mask-image: url('../multimedia/icons/brand-lazo.svg');
}
.icon-facebook {
	mask-image: url('../multimedia/icons/facebook-icon.svg');
}
.icon-instagram {
	mask-image: url('../multimedia/icons/instagram-icon.svg');
}
.icon-youtube {
	mask-image: url('../multimedia/icons/youtube-icon.svg');
}
.icon-eye {
	mask-image: url('../multimedia/icons/icon-eye.svg');
}
.icon-heart {
	mask-image: url('../multimedia/icons/icon-heart.svg');
}
.icon-add-product {
	mask-image: url('../multimedia/icons/icon-add-product.svg');
}
.icon-minus {
	mask-image: url('../multimedia/icons/icon-minus.svg');
}
.icon-plus {
	mask-image: url('../multimedia/icons/icon-plus.svg');
}
.icon-delete {
	mask-image: url('../multimedia/icons/icons-trash.svg');
}
.icon-close {
	mask-image: url('../multimedia/icons/icon-close.svg');
}
.icon-user {
	mask-image: url('../multimedia/icons/icon-user.svg');
}
.icon-down-select {
	mask-image: url('../multimedia/icons/down.svg');
}
.icon-delivery {
	mask-image: url('../multimedia/icons/delivery-love.svg');
}
.icon-time {
	mask-image: url('../multimedia/icons/icon-time.svg');
}
.icon-card {
	mask-image: url('../multimedia/icons/icon-card.svg');
}
.icon-free-shipping {
	mask-image: url('../multimedia/icons/icon-send-free.svg');
}
.icon-delivery-fast {
	mask-image: url('../multimedia/icons/icon-delivery-fast.svg');
}
.icon-signal-right {
	mask-image: url('../multimedia/icons/icon-signal-right.svg');
}
.icon-signal-left {
	mask-image: url('../multimedia/icons/icon-signal-left.svg');
}
.tapiz-corazon {
	mask-image: url('../multimedia/icons/tapiz-corazones.svg');
}
.icon-edit {
	mask-image: url('../multimedia/icons/icon-edit.svg');
}
.icon-notification {
	mask-image: url('../multimedia/icons/icon-notification.svg');
}
.icon-filter {
	mask-image: url('../multimedia/icons/icon-filter.svg');
}
.icon-zoom {
	mask-image: url('../multimedia/icons/zoom.svg');
}
.icon-twitter {
	mask-image: url('../multimedia/icons/icon-twitter.svg');
}
.icon-github {
	mask-image: url('../multimedia/icons/icon-github.svg');
}

.icon-toggle-sidebar {
	mask-image: url('../multimedia/icons/toggle-sidebar.svg');
}
.icon-power-off {
	mask-image: url('../multimedia/icons/power-off.svg');
}
